.md-typeset .admonition.render,
.md-typeset details.render {
    border-color: #00bfa5;
}
.md-typeset .render > .admonition-title,
.md-typeset .render > summary {
    background-color: #00bfa51a;
}
.md-typeset .render > .admonition-title::before,
.md-typeset .render > summary::before {
    background-color: #00bfa5;
    -webkit-mask-image: var(--md-admonition-icon--render);
    mask-image: var(--md-admonition-icon--render);
}
