.chip-darkgreen,
.chip-darkblue {
    display: inline-block;
    color: white;
    padding: 0px 16px;
    border-radius: 20px;
}

.chip-darkgreen {
    background: teal;
}

.chip-darkblue {
    background: royalblue;
}
